<div class="starter-template">
  <h1>Dog or Cat?</h1>
    <p class="lead">
      CNN実装のdog cat判定の実装.
    </p>

    <% if @form.image.present? %>
      <p>
        アップロードファイル<br>
        <%= image_tag @form.base64_image %>
      </p>
    <% end %>

    <% if @form.result.present? %>
      <p>結果：<%= @form.result[:result] %></p>
      <p>確率：<%= @form.result[:per] %></p>
    <% end %>

   <div class="lead">
     <%= render "form" %>
   </div>
</div>

