<div class="starter-template">
  <h1><a href="/">Dog or Cat?</a></h1>
    <p class="lead">
      CNN実装のdog cat判定の実装.
    </p>

    <% if  @form.result.present? %>
      <p>
        アップロードファイル<br>
        <%= image_tag @form.base64_image %><br>
      </p>

      <p class="upload_image">結果：<%= @form.result[:result] %></p>
    <% end %>

   <div class="lead">
     <%= render "form" %>
   </div>
</div>

